.header{
	display:flex;
	background-color:black;	
	padding: 5px 0 0 0;
	color: white;
}
.image{
	margin-right:29.25%;
	margin-left:0.75%;
}
.subtitle{
	margin-top:-25px;
	margin-left:15%;
}
.title{
	
	color:gold;
	font-size:35px;
	font-style:algerian;
}
.nav_menu{
	display:flex;
	padding: 2px 20% 2px 20%;
}
.nav_menu_items{
	padding: 0 5% 0 5%;
	font-size:26px;
	background-color:grey;
	color:white;
}
.nav_menu_items:active{
	background-color:red;
	color:white;
}
.newsletter_btn:{
	margin-left:;
}

.newsletter-area{
	margin-left:40%;
}
